In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/laptop-price-prediction-cleaned-dataset/laptop_data_cleaned.csv

In [2]:
df = pd.read_csv('/kaggle/input/laptop-price-prediction-cleaned-dataset/laptop_data_cleaned.csv')

In [3]:
df.head()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,Apple,Ultrabook,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,128,Intel,Mac
1,Apple,Ultrabook,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,0,Intel,Mac
2,HP,Notebook,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,256,Intel,Others
3,Apple,Ultrabook,16,1.83,11.814476,0,1,220.534624,Intel Core i7,0,512,AMD,Mac
4,Apple,Ultrabook,8,1.37,11.473101,0,1,226.983005,Intel Core i5,0,256,Intel,Mac

In [4]:
df.tail(10)

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
1263,Dell,Notebook,2,2.20,9.913097,0,0,100.454670,Other Intel Processor,500,0,Intel,Windows
1264,Lenovo,Notebook,8,2.60,10.776844,0,1,141.211998,Intel Core i7,1000,0,Nvidia,Windows
1265,HP,Notebook,6,2.04,10.285461,0,0,141.211998,AMD Processor,0,0,AMD,Windows
1266,Dell,Notebook,8,2.30,10.667632,0,0,100.454670,Intel Core i7,1000,0,AMD,Others
1267,HP,Netbook,2,1.17,9.317895,0,0,135.094211,Other Intel Processor,0,0,Intel,Windows
1268,Asus,Notebook,4,2.20,10.555257,0,0,100.454670,Intel Core i7,500,0,Nvidia,Windows
1269,Lenovo,2 in 1 Convertible,4,1.80,10.433899,1,1,157.350512,Intel Core i7,0,128,Intel,Windows
1270,Lenovo,2 in 1 Convertible,16,1.30,11.288115,1,1,276.053530,Intel Core i7,0,512,Intel,Windows
1271,Lenovo,Notebook,2,1.50,9.409283,0,0,111.935204,Other Intel Processor,0,0,Intel,Windows
1272,HP,Notebook,6,2.19,10.614129,0,0,100.454670,Intel Core i7,1000,0,AMD,Windows

In [5]:
df.shape

(1273, 13)

In [6]:
df.columns

Index(['Company', 'TypeName', 'Ram', 'Weight', 'Price', 'TouchScreen', 'Ips',
       'Ppi', 'Cpu_brand', 'HDD', 'SSD', 'Gpu_brand', 'Os'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1273 entries, 0 to 1272
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Company      1273 non-null   object
 1   TypeName     1273 non-null   object
 2   Ram          1273 non-null   int64
 3   Weight       1273 non-null   float64
 4   Price        1273 non-null   float64
 5   TouchScreen  1273 non-null   int64
 6   Ips          1273 non-null   int64
 7   Ppi          1273 non-null   float64
 8   Cpu_brand    1273 non-null   object
 9   HDD          1273 non-null   int64
 10  SSD          1273 non-null   int64
 11  Gpu_brand    1273 non-null   object
 12  Os           1273 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 129.4+ KB

In [8]:
df.isna().sum()

Company        0
TypeName       0
Ram            0
Weight         0
Price          0
TouchScreen    0
Ips            0
Ppi            0
Cpu_brand      0
HDD            0
SSD            0
Gpu_brand      0
Os             0
dtype: int64

In [9]:
df.isnull().sum()

Company        0
TypeName       0
Ram            0
Weight         0
Price          0
TouchScreen    0
Ips            0
Ppi            0
Cpu_brand      0
HDD            0
SSD            0
Gpu_brand      0
Os             0
dtype: int64

In [10]:
df.describe()

,Ram,Weight,Price,TouchScreen,Ips,Ppi,HDD,SSD
count,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000
mean,8.447761,2.041100,10.828218,0.146897,0.279654,146.950812,413.715632,186.252946
std,5.098771,0.669241,0.619565,0.354142,0.449006,42.926775,518.054486,186.531571
min,2.000000,0.690000,9.134616,0.000000,0.000000,90.583402,0.000000,0.000000
25%,4.000000,1.500000,10.387379,0.000000,0.000000,127.335675,0.000000,0.000000
50%,8.000000,2.040000,10.872255,0.000000,0.000000,141.211998,0.000000,256.000000
75%,8.000000,2.310000,11.287447,0.000000,1.000000,157.350512,1000.000000,256.000000
max,64.000000,4.700000,12.691441,1.000000,1.000000,352.465147,2000.000000,1024.000000

In [11]:
df.describe(include="all")

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
count,1273,1273,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000,1273,1273.000000,1273.000000,1273,1273
unique,19,6,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,3,3
top,Dell,Notebook,NaN,NaN,NaN,NaN,NaN,NaN,Intel Core i7,NaN,NaN,Intel,Windows
freq,291,706,NaN,NaN,NaN,NaN,NaN,NaN,515,NaN,NaN,703,1100
mean,NaN,NaN,8.447761,2.041100,10.828218,0.146897,0.279654,146.950812,NaN,413.715632,186.252946,NaN,NaN
std,NaN,NaN,5.098771,0.669241,0.619565,0.354142,0.449006,42.926775,NaN,518.054486,186.531571,NaN,NaN
min,NaN,NaN,2.000000,0.690000,9.134616,0.000000,0.000000,90.583402,NaN,0.000000,0.000000,NaN,NaN
25%,NaN,NaN,4.000000,1.500000,10.387379,0.000000,0.000000,127.335675,NaN,0.000000,0.000000,NaN,NaN
50%,NaN,NaN,8.000000,2.040000,10.872255,0.000000,0.000000,141.211998,NaN,0.000000,256.000000,NaN,NaN
75%,NaN,NaN,8.000000,2.310000,11.287447,0.000000,1.000000,157.350512,NaN,1000.000000,256.000000,NaN,NaN
max,NaN,NaN,64.000000,4.700000,12.691441,1.000000,1.000000,352.465147,NaN,2000.000000,1024.000000,NaN,NaN

In [12]:
df.corr

<bound method DataFrame.corr of      Company            TypeName  Ram  Weight      Price  TouchScreen  Ips  \
0      Apple           Ultrabook    8    1.37  11.175755            0    1
1      Apple           Ultrabook    8    1.34  10.776777            0    0
2         HP            Notebook    8    1.86  10.329931            0    0
3      Apple           Ultrabook   16    1.83  11.814476            0    1
4      Apple           Ultrabook    8    1.37  11.473101            0    1
...      ...                 ...  ...     ...        ...          ...  ...
1268    Asus            Notebook    4    2.20  10.555257            0    0
1269  Lenovo  2 in 1 Convertible    4    1.80  10.433899            1    1
1270  Lenovo  2 in 1 Convertible   16    1.30  11.288115            1    1
1271  Lenovo            Notebook    2    1.50   9.409283            0    0
1272      HP            Notebook    6    2.19  10.614129            0    0

             Ppi              Cpu_brand   HDD  SSD Gpu_brand       Os
0     226.983005          Intel Core i5     0  128     Intel      Mac
1     127.677940          Intel Core i5     0    0     Intel      Mac
2     141.211998          Intel Core i5     0  256     Intel   Others
3     220.534624          Intel Core i7     0  512       AMD      Mac
4     226.983005          Intel Core i5     0  256     Intel      Mac
...          ...                    ...   ...  ...       ...      ...
1268  100.454670          Intel Core i7   500    0    Nvidia  Windows
1269  157.350512          Intel Core i7     0  128     Intel  Windows
1270  276.053530          Intel Core i7     0  512     Intel  Windows
1271  111.935204  Other Intel Processor     0    0     Intel  Windows
1272  100.454670          Intel Core i7  1000    0       AMD  Windows

[1273 rows x 13 columns]>

In [13]:
df['Company'].value_counts()

Dell         291
Lenovo       289
HP           268
Asus         151
Acer         101
MSI           54
Toshiba       48
Apple         21
Samsung        8
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: Company, dtype: int64

In [14]:
df['Company'].value_counts(normalize=True)

Dell         0.228594
Lenovo       0.227023
HP           0.210526
Asus         0.118617
Acer         0.079340
MSI          0.042419
Toshiba      0.037706
Apple        0.016496
Samsung      0.006284
Razer        0.005499
Mediacom     0.005499
Microsoft    0.004713
Xiaomi       0.003142
Vero         0.003142
Chuwi        0.002357
Google       0.002357
Fujitsu      0.002357
LG           0.002357
Huawei       0.001571
Name: Company, dtype: float64