In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/all-ended-netflix-originals/All Ended Netflix Original Shows.csv

In [2]:
df = pd.read_csv('/kaggle/input/all-ended-netflix-originals/All Ended Netflix Original Shows.csv')

In [3]:
df.head(10)

,Title,Genre,Premiere Date,Finale Date,Seasons,Cancelled
0,House of Cards,Political drama,"February 1, 2013","November 2, 2018",6,0
1,Orange Is the New Black,Comedy drama,"July 11, 2013","July 26, 2019",7,0
2,Marco Polo,Historical drama,"December 12, 2014","July 1, 2016",2,0
3,Bloodline,Thriller,"March 20, 2015","May 26, 2017",3,0
4,Daredevil,Superherolegal drama,"April 10, 2015","October 19, 2018",3,0
5,Sense8,Science fiction,"June 5, 2015","June 8, 2018",2,0
6,Narcos,Crime drama,"August 28, 2015","September 1, 2017",3,0
7,Jessica Jones,Superheropsychological thriller,"November 20, 2015","June 14, 2019",3,0
8,The Get Down,Musicaldrama,"August 12, 2016","April 7, 2017",2,0
9,Luke Cage,Neo-blaxploitationSuperhero,"September 30, 2016","June 22, 2018",2,0

In [4]:
work_df = df.copy()
work_df.head()

,Title,Genre,Premiere Date,Finale Date,Seasons,Cancelled
0,House of Cards,Political drama,"February 1, 2013","November 2, 2018",6,0
1,Orange Is the New Black,Comedy drama,"July 11, 2013","July 26, 2019",7,0
2,Marco Polo,Historical drama,"December 12, 2014","July 1, 2016",2,0
3,Bloodline,Thriller,"March 20, 2015","May 26, 2017",3,0
4,Daredevil,Superherolegal drama,"April 10, 2015","October 19, 2018",3,0

In [5]:
print('Number of columns and rows: \n',work_df.shape)
print('Number of data: \n',work_df.size)

Number of columns and rows:
 (1353, 6)
Number of data:
 8118

In [6]:
work_df.describe()

           Seasons    Cancelled
count  1353.000000  1353.000000
mean      1.483370     0.722099
std       1.036278     0.448130
min       1.000000     0.000000
25%       1.000000     0.000000
50%       1.000000     1.000000
75%       2.000000     1.000000
max       8.000000     1.000000

In [7]:
work_df.describe(include='all')

,Title,Genre,Premiere Date,Finale Date,Seasons,Cancelled
count,1353,1240,1353,1353,1353.000000,1353.000000
unique,1353,311,802,785,NaN,NaN
top,House of Cards,True crime,"October 28, 2022","December 17, 2021",NaN,NaN
freq,1,93,7,9,NaN,NaN
mean,NaN,NaN,NaN,NaN,1.483370,0.722099
std,NaN,NaN,NaN,NaN,1.036278,0.448130
min,NaN,NaN,NaN,NaN,1.000000,0.000000
25%,NaN,NaN,NaN,NaN,1.000000,0.000000
50%,NaN,NaN,NaN,NaN,1.000000,1.000000
75%,NaN,NaN,NaN,NaN,2.000000,1.000000
max,NaN,NaN,NaN,NaN,8.000000,1.000000

In [8]:
work_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1353 entries, 0 to 1352
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          1353 non-null   object
 1   Genre          1240 non-null   object
 2   Premiere Date  1353 non-null   object
 3   Finale Date    1353 non-null   object
 4   Seasons        1353 non-null   int64
 5   Cancelled      1353 non-null   int64
dtypes: int64(2), object(4)
memory usage: 63.5+ KB